@model KlinicosDirectivos.ViewModels.DesempeñoProfesional

@Html.DisplayFor(model => model.cantTurnosIngresados)
<br />
@Html.DisplayFor(model => model.cantTurnosIngresados)
<br />
@Html.DisplayFor(model => model.cantEspontaneos)
<br />
@Html.DisplayFor(model => model.totalIngresos)

@Html.BeginRouteForm(Model)
<button>GENERA 2.0</button>



<script></script>
